@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    margin: 0;
    background: linear-gradient(to left, #2e0053, #6a53cc);
    font-family: arial, sans-serif
}

main {
    margin: auto;
    width: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 20px;
}

/*************** cabeçalho **************************************************/
.container-header {
    display: flex;
    margin: 10px;
    background: linear-gradient(to left, #42007f, #171b4738);
    border-radius: 15px;
    justify-content: space-evenly;
    margin-bottom: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.nome {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nome span {
    color: black;
}


.nome h1 {
    padding-left: 10%;
    color: white;

}

.container-redes-social ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.container-redes-social ul li {
    margin-right: 30px;
}

.container-redes-social {
    width: 30%;
}

img {
    border-radius: 30px;
    box-shadow: 7px 7px 5px #0000003c;
}

a {
    text-decoration: none;
}

/*************** navegação **************************************************/

nav {
    width: 100%;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    display: flex;
    margin-bottom: 40px;
}

nav a {
    padding: 10px;
    font-size: 20px;
    background: linear-gradient(to left, #42007f, #171b4738);
    border-radius: 25px;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
/************************** container and ber *************************************************************/
.container-bar {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background: linear-gradient(to left, #42007f, #171b4738);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
}
.container-bar h2 {
    margin: 0;
}
.container {
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
}


/*************** corpo primeira seção - sobre mim **************************************************/
.perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: flex-end;

}

.foto-perfil {
    display: flex;
    width: 30%;
    border-radius: 30px;
    margin: 0 0 20px 0;
    background: linear-gradient(to left, #42007f, #171b4738);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.foto-perfil img {
    box-shadow: none;
    width: 100%;

}

.container h2 {
    margin-top: 0;
    font-size: 29px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
}

.container-text p {
    max-width: 100%;
    padding-bottom: 80px;
}

.container-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    font-size: 18px;
    background: linear-gradient(to left, #51019c6d, #171b4738);
    padding: 30px;
    width: 60%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
    min-width: 320px;
}

/*************** corpo segunda seção - projetos **************************************************/

.container-projetos {
    display: flex;
    
}
.container-projetos ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
   
    
}
.container-projetos ul li p {
    color: white;
}
.container-projetos ul li {
    text-align: center;
    margin: 20px;
    display: block;
    
}
.container-projetos ul li img {
    display: block;
    width: 100px;
    padding: 10px;
    background: linear-gradient(to left, #51019c6d, #171b4738);
}

/*************** corpo terceira seção - none **************************************************/






/* Adicione consultas de mídia para responsividade */
@media screen and (max-width: 768px) {
    .perfil {
        text-align: center;
    
    }

    .foto-perfil {
        width: 100%;
       
    }

    .text {
        font-size: 16px;
        width: 100%;
    
    }
}