@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


html ::-webkit-scrollbar {
    width: 10px;

}

html ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--corfoco);
}

html ::-webkit-scrollbar-track {
    background: #f2efff;
}

html {
    scroll-behavior: smooth;
}

:root {
    --colorfundo: #F1FAEE;

    --corbloco: #fff;

    --corfoco: #E63946;
}

* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

body {
    margin: 0;
    background-color: var(--colorfundo)
}

main {
    margin: auto;
    max-width: 73%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}

/*************** cabeçalho **************************************************/
.container-header {
    background-color: var(--corbloco);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px auto 0;
    width: 98%;
    border-radius: 15px;
    padding: 20px 0;
}

.conteudo-header {
    display: flex;
    margin: 10px auto;
    max-width: 71%;
    justify-content: space-between;
    align-items: center;
}

.nome {
    font-family: Arial, Helvetica, sans-serif;
}

.nome span {
    color: var(--corfoco);
}

.nome h1 {
    color: black;

}

.container-redes-social ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-redes-social ul li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

.svg-ico {
    transition: 0.5s;

}

.svg-ico:hover {

    transform: scale(1.2);
    fill: var(--corfoco);
}

/*************** navegação **************************************************/

nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    transition: 0.5s;
}

nav a {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 25px;
    background-color: var(--corbloco);
    color: var(--corfoco);
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
    border: 2px solid var(--corbloco);
}

nav a:hover {
    transform: scale(1.1);
    background-color: var(--corfoco);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #ffffff;
}

/************************** container and ber *************************************************************/

.container-bar {
    background-color: var(--corbloco);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 20px 0;
    color: #000;
    box-shadow: #71717171 0px 0px 15px;
    transition: 0.5s;
}

.container-bar h2 {
    font-size: 22px;
    color: var(--corfoco);
    font-family: Arial, Helvetica, sans-serif;
}

/*************** corpo primeira seção - sobre mim **************************************************/
.container-perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: 0.5s;
}

.foto-perfil {
    width: 30%;
    display: flex;
    border-radius: 30px;
    background-color: var(--corbloco);
    box-shadow: #71717171 0px 0px 15px;
    transition: 0.5s;
}

.foto-perfil:hover {
    background-color: var(--corfoco);
    transform: scale(1.07);
}

.foto-perfil img {
    width: 100%;
}

.container-text {
    width: 53%;
    text-align: justify;
    display: flex;

    padding: 30px 4em;
    border-radius: 20px;
    color: #000;
    font-weight: bold;
    background-color: var(--corbloco);
    box-shadow: #71717171 0px 0px 25px
}

.container-text p::first-letter {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container-text p {
    font-size: 16px;
    line-height: 30px;
}

.container-text p span {
    color: var(--corfoco);
}

/*************** corpo segunda seção - projetos **************************************************/

.container-projetos {
    display: flex;

}

.container-projetos ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    gap: 20px
}

.container-projetos ul li p {
    font-weight: bold;
    font-size: 0.9em;
}

.container-projetos ul li {
    transition: 0.5s;
    padding: 10px;
    border-radius: 10px;
    color: var(--corfoco);
    width: 160px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-projetos ul li:hover {
    transform: scale(1.1);
    background-color: var(--corfoco);
    color: #fff;
    box-shadow: #71717171 0px 0px 25px;

}

.container-projetos ul li img {
    width: 80px;
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: #71717171 0px 0px 25px;
    background-color: #fff;
    margin: 10px 0;
}


/*************** footer **************************************************/

.container-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    margin-top: 60px;
    padding: 30px 0;
}

.nome-footer {
    border-right: 1px solid #000;

}

.nome-footer h3 {
    transition: 0.5s;
    padding: 20px;
}

.nome-footer h3::first-letter {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--corfoco);
}

.nome-footer h3:hover {
    color: var(--corfoco);
}

.contato-letter {
    padding: 0 10px;
    margin-bottom: 20px;
}

.contato {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.contato p {
    transition: 0.5s;
    font-weight: bold;
}

.contato p:hover {
    color: var(--corfoco);
}

.contato svg {
    padding: 0 10px;
    transition: 0.5s;
}

.contato svg:hover {
    fill: var(--corfoco);
}

/*************** acesso em dispositivos menores **************************************************/

@media screen and (max-width: 1404px) {

    .svg-ico:hover {
        transform: none;
        fill: #000;
    }

    .svg-ico:active {
        fill: var(--corfoco);
    }

    nav a:hover {
        transform: none;
        background-color: var(--corbloco);
        box-shadow: none;
        color: var(--corfoco);
    }

    nav a:active {
        transform: none;
        background-color: var(--corfoco);
        color: #000;
    }

    .foto-perfil:hover {
        background-color: var(--corbloco);
        transform: none;
    }

    .foto-perfil:active {
        background-color: var(--corfoco);
    }

    .container-projetos ul li:hover {
        transform: none;
        background-color: var(--corbloco);
        color: var(--corfoco);
        box-shadow: none;

    }

    .container-projetos ul li:active {
        transform: none;
        background-color: var(--corfoco);
        color: #fff;
    }

    .container-projetos ul li {
        width: 160px;
        height: 140px;
    }


    main {
        max-width: 80%;
    }

    .container-perfil {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        transition: 0.5s;
    }

    .container-text {
        width: 100%;
        padding: 20px;
        margin-right: 10px;
    }

    .container-text p {
        font-size: 13px;
        line-height: 25px;
    }

    .container-header {
        padding: 5px 0;
    }
}

@media screen and (max-width: 1014px) {


    

    main {
        max-width: 97%;
        padding: 10px 0 0 0;
    }

    /** header**/

    .conteudo-header {
        max-width: 90%;
    }

    .nome h1 {
        font-size: 100%;
    }

    .svg-ico {
        width: 30px;
    }

    /** perfil**/

    .container-perfil {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        transition: 0.5s;
        width: 100%;

    }

    .foto-perfil {
        min-width: 260px;
        margin-bottom: 20px;
        display: flex;
    }

    .container-text {
        width: auto;


    }

    /** projetos **/

    .container-projetos ul {
        justify-content: space-around;
        gap: 10px;
    }

    .container-projetos ul li {
        transition: 0.5s;
        padding: 10px;
        border-radius: 10px;
        color: var(--corfoco);
        width: 150px;
        height: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container-projetos ul li img {
        width: 80px;
    }
}