@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(45, 2, 162);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

header h1 {
    font-size: 40px;
    padding: 10px;
}

.container-calc {
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #000;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container-visor {


    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
}

.container-visor p {
    margin: 5px;
    font-size: 30px;
    color: #000;
}




.container-apagador {
    display: flex;
    justify-content: end;
    border: 1px solid #ffffff;
    margin: 10px 0;
    background-color: #ffffff;
    color: #000;
}

.tabela-calc {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid #dfdfdf ;
    padding: 12px 0 0 0;
}

.col button {
    border-radius: 40px;
    border: none;
    background-color:#dfdfdf ;
    transition: 0.5s;
    width: 80px;
    height: 80px;
    margin: 4px;
    color:  rgb(45, 2, 162);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.col button:hover {
    color: #ffffff;
    transform: scale(1.1);
    background-color: rgb(45, 2, 162);
}

.col button:active {
    background-color: #898989;
    transition: 0s;
}



@media screen and (max-width: 1014px) {


   

    .col button:hover {
        border-radius: 40px;
        background-color: #898989;

        width: 30px;
        transform: scale(1);
        color: #fff;
    }

    .col button:active {
        background-color: #ff0000;
        transition: 0s;
    }

}